.n-jin{
        text-align: center;
        margin: 50px;
        font-size: 20px;
    }
    .container{
        max-width: 960px;
        margin: auto;
    }
    .border{
        border: 1px solid; padding: 50px;
    }
    .my-5{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .btn{
        border: 1px solid;
        padding: 10px 40px;
        border-radius: 7px;
        cursor: pointer;
        display: initial;
        display: inline-block;
        width: fit-content;
    }
    .btn-secondary{
        color: #fff;
        background: #2196f3;
    }
    .btn-primary{
        color: #fff;
        background: #d00;
    }
    .d-inline-grid{
        display: inline-grid;
    }
    .text-left{
        text-align: left;
    }
    .text-center{
        text-align: center;
    }